<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Anton&family=Bebas+Neue&family=Francois+One&family=Hind+Siliguri:wght@500&family=Inconsolata:wght@500&family=Lexend+Deca:wght@500&family=Open+Sans&family=Orbitron&family=Saira:wght@100&family=Signika+Negative:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Anton&family=Bebas+Neue&family=DM+Sans&family=Francois+One&family=Heebo:wght@300&family=Hind+Siliguri:wght@500&family=Inconsolata:wght@500&family=Lexend+Deca:wght@500&family=Noto+Sans&family=Open+Sans:wght@300&family=Orbitron&family=Saira:wght@100&display=swap" rel="stylesheet">
    <title>Pretty Logs</title>
</head>
<body style="font-family: 'DM Sans', sans-serif; margin-left: 100px; background-color: black">

    {% for log in logs %}
        <table style="margin: 0px;">
        {% for key, value in log.items() %}
            <tr style="margin: 0px;">
                <td style="color: #C5CB00;">{{ key }}:&emsp;</td>
                <td style="color: #9FD7F7;">{{ value }}</td>
            </tr>
        {% endfor %}
        </table>
        {% if log.items()|length > 1 %}
            <br>
        {% endif %}
    {% endfor %}

</body>
</html>